@import "./globals";
@import "./variables";

.navbar {
  .container-fluid {
    padding: 0px 16px !important;
    a {
      img {
        width: 120px;
      }
    }
    .item-links {
      ul {
        display: flex;
        gap: 20px;
      }
      .items-btns {
        button:nth-child(1) {
          color: $babyBlue;
        }
        button:nth-child(2) {
          color: white;
          background-color: $babyBlue;
          padding: 8px 18px;
        }
      }
    }
  }
}

.sect-1-home {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: bold;
      font-family: $Epilogue;
      line-height: 78px;
      font-size: 56px;
      text-align: center;
      p {
        font-family: $Inter;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $grey200;
        text-align: center;
      }
    }
    span {
      display: block;
      text-align: center;
    }

    .sect-1-links {
      margin-top: 24px;
      display: flex;
      gap: 20px;
      a:nth-child(1) {
        background-color: $babyBlue;
        color: $white100;
        width: 200px;
        height: 52px;
        border-radius: 4px;
        padding: 12px 49.5px 12px 49.5px;
      }
      a:nth-child(2) {
        color: $babyBlue;
        border: 1px solid $babyBlue;
        width: 200px;
        height: 52px;
        padding: 12px 38.5px 12px 38.5px;
        border-radius: 4px;
      }
    }

    .sect-1-img {
      display: flex;
      justify-content: center;
      img {
        padding-top: 44px;
        padding-bottom: 96px;
      }
    }
  }
}

.sect-2-home {
  .container {
    .text-title {
      h2 {
        font-family: $Epilogue;
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        margin-bottom: 30px;
        color: $grey200;
      }
    }
    .item-img-sect-2 {
      img {
        object-fit: contain;
      }
    }
  }
}

.sect-3-home {
  padding-top: 96px;
  padding-bottom: 96px;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .sect-3-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      font-family: $Inter;
      color: $grey200;
      width: 476px;
      // height: 112px:
    }
    h3 {
      font-weight: bold;
      font-size: 40px;
      line-height: 56px;
      font-family: $Epilogue;
    }

    .sect-3-link-1 {
      background-color: $babyBlue;
      color: $white100;
      width: 112px;
      height: 44px;
      border-radius: 4px;
      padding: 9px 26px 9px 25px;
      font-family: $Inter;
    }
    .sect-3-link-2 {
      color: $babyBlue;
      width: 118px;
      height: 44px;
      border-radius: 4px;
      font-family: $Inter;
    }
    .sect-3-image-1 {
      margin-top: 178px;
    }
    .sect-3-image-2 {
      margin-bottom: 178px;
    }
    .sect-3-group-2 {
      margin-right: 220px;
      .sect-3-link-group {
        .sect-3-link-2 {
          margin-left: 16px;
        }
      }
    }
    .sect-3-group-1 {
      margin-right: 220px;
      .sect-3-link-group {
        .sect-3-link-2 {
          margin-left: 16px;
        }
      }
    }
  }
}

.sect-4-home {
  background-color: $skyBlue;
  width: auto;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sect-4-text {
      height: 100%;
      width: 100%;
    }

    .profile-pic {
      display: flex;
      margin-top: 20px;
      margin-bottom: 96px;
      img {
        margin-top: 24px;
      }
      p {
        margin-top: 41px;
        margin-left: 16px;
        font-family: $Inter;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
      }
      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
      }
    }
    .sect-4-img-1 {
      //margin-top: 97.86px;
      margin-bottom: 49.8px;
    }
    .sect-4-img-2 {
      margin-right: 96px;
      margin-top: 50px;
      cursor: pointer;
    }
    .sect-4-img-3 {
      margin-left: 96px;
      margin-top: 50px;
      cursor: pointer;
    }
  }
  .sect-4-group {
    display: flex;
    p {
      font-size: 32px;
      line-height: 48px;
      font-weight: 400;
      font-family: $Inter;
      height: 192px;
    }
  }
}

.sect-5-home {
  .container {
    padding-top: 96px;
    .profile-pic {
      display: flex;
      flex-direction: row;
    }

    .sect-5-group-1 {
      background-color: $lightGrey200;
      width: 353px;
      height: 402px;
      border-radius: 4px, 0px, 0px, 4px;
      padding: 24px 74px 24px 24px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin-right: 20px;
    }
    .sect-5-group-2 {
      background-color: $white100;
      width: 353px;
      height: 438px;
      border-radius: 4px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      padding: 28px 0 28px 24px;
      white-space: nowrap;
      margin-right: 18px;
      .popular {
        margin-left: 86px;
        white-space: nowrap;
      }
    }
    .button-group {
      margin-bottom: 28px;
      h4 {
        font-weight: bold;
        font-size: 48px;
        line-height: 68px;
        p {
          margin-bottom: 28px;
        }
      }
    }
    .sect-5-list {
      display: flex;

      .first-item-1 {
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
        font-family: $Epilogue;
        color: $black100;
      }
      .first-item-2 {
        color: $babyBlue;
        font-size: 40px;
        line-height: 56px;
        font-weight: bold;
        font-family: $Epilogue;
      }
      .second-item {
        font-family: $Inter;
        font-weight: 400px;
        font-size: 16px;
        line-height: 26px;
        color: $grey300;
        margin-bottom: 16px;
      }
      .price {
        font-size: 40px;
        line-height: 56px;
        font-family: $Epilogue;
        font-weight: bold;
        margin-bottom: 17px;
      }
      .user-month {
        font-size: 14px;
        font-weight: 400;
        font-family: $Inter;
        line-height: 22px;
        color: $grey300;
      }
      .last-item-1 {
        display: block;
        width: 305px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid $babyBlue;
        color: $babyBlue;
        padding: 9px 119.5px;
        margin-top: 19px;
        white-space: nowrap;
      }
      .last-item-2 {
        display: block;
        background-color: $babyBlue;
        color: $white100;
        width: 305px;
        height: 44px;
        border-radius: 4px;
        padding: 9px 119.5px;
        margin-top: 39px;
      }

      div {
        font-size: 14px;
        font-family: $Inter;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 10px;
        color: $black100;
      }
    }
  }
}

.sect-6-home {
  .container {
    display: flex;
    .sect-6-txt {
      font-family: $Inter;
      font-weight: 400px;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
      color: $black200;
    }
    .right-section {
      img {
        width: 588px;
        height: 384px;
      }
    }
    .left-section {
      width: 588px;
      height: 384px;
      background-color: $babyBlue;
      border-radius: 8px 0 0 8px;
      padding: 80px 115px 80px 64px;
      height: 384px;
      overflow: hidden;

      a {
        width: 112px;
        height: 52px;
        border-radius: 4px;
        background-color: $white100;
        padding: 12px 24px;
        color: $black100;
      }

      h5 {
        color: $white100;
        font-size: 48px;
        font-family: $Epilogue;
        line-height: 68px;
        font-weight: bold;
      }
    }
  }
}

.sect-7-home {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    p {
      margin-bottom: 44px;
    }

    h6 {
      font-family: $Epilogue;
      font-weight: bold;
      line-height: 68px;
      font-size: 48px;
      width: auto;
    }
    .sect-7-box-container {
      padding-bottom: 96px;

      button {
        background-color: $babyBlue;
        color: $white100;
        border: none;
        border-radius: 4px;
        width: 164px;
        height: 44px;
        font-family: $Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-left: 90px;
        margin-top: 44px;
      }
      .first-item {
        color: $babyBlue;
        font-family: $Inter;
        line-height: 26px;
        font-size: 16px;
        margin-top: 24px;
        white-space: nowrap;
      }
      .second-item {
        font-family: $Epilogue;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-top: 4px;
      }
      .third-item {
        font-family: $Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 27px;
        white-space: nowrap;
        .time {
          display: inline;
          margin-left: 130px;
          background-color: $lightGrey100;
          width: 83px;
          height: 28px;
          border-radius: 14px;
          padding: 4px 8px;
        }
      }

      ul {
        list-style: none;
        border: 1px solid transparent;
        width: 376px;
        border-radius: 0 0 6px 6px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

footer {
  background-color: #fafafb;
  .container {
    section {
      display: flex;
      justify-content: space-between;
      .ft-main-item {
        .ft-title {
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
        }
        ul {
          list-style: none;
          cursor: pointer;
          padding-left: 0;
          .li-1 {
            margin-top: 16px;
          }
          li {
            margin-top: 12px;
          }
        }
      }
      .ft-main-item {
        .ft-title-1 {
          color: #00bdd6;
          font-weight: 400;
          line-height: 30px;
          font-size: 20px;
          white-space: nowrap;
        }
        p {
          color: #424955;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
        }
        form {
          input {
            background-color: #eaecef;
            width: 269px;
            height: 35px;
            border-radius: 4px, 0px, 0px, 4px;
            color: #bcc1ca;
            font-size: 14px;
            line-height: 22px;
            border: none;
            padding: 7px 129px 6px 34px;
          }
          .input-2 {
            background-color: #00bdd6;
            color: #ffffff;
            padding: 7px 23px 7px 24px;
            width: 114px;
            height: 36px;
            border-radius: 0 4px 4px 0;
            border: none;
            position: absolute;
          }
        }
      }
    }
    .ft-social {
      display: flex;
      justify-content: space-between;
      select {
        width: 127px;
        height: 35px;
        border-radius: 4px;
        background-color: #eaecef;
        border: none;
        padding: 7px 13px 6px 12px;
        border: none;
      }
      .ft-social-list {
        img {
          margin-right: 21px;
        }
      }
    }
  }
}
