@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

.container-1 {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container-1 {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

.container-1 {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container-1 {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

.navbar {
  padding: 14px 24px 14px 28px;
}
.navbar .nav-link-1 {
  color: #00BDD6;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.navbar .nav-link-2 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  margin-left: 23px;
}
.navbar .container-fluid .nav-bar-list ul {
  list-style: none;
  display: flex;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.navbar .container-fluid .nav-bar-list ul li {
  margin-left: 24px;
  color: #565E6C;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sect-1-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect-1-home .container h1 {
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
  line-height: 78px;
  font-size: 56px;
  text-align: center;
}
.sect-1-home .container h1 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #9095A0;
  text-align: center;
}
.sect-1-home .container h1 p span {
  display: block;
  text-align: center;
}
.sect-1-home .container .sect-1-links {
  margin-top: 24px;
}
.sect-1-home .container .sect-1-links a:nth-child(1) {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 200px;
  height: 52px;
  border-radius: 4px;
  padding: 12px 49.5px 12px 49.5px;
}
.sect-1-home .container .sect-1-links a:nth-child(2) {
  color: #00BDD6;
  border: 1px solid #00BDD6;
  width: 200px;
  height: 52px;
  padding: 12px 38.5px 12px 38.5px;
  border-radius: 4px;
}
.sect-1-home .container .sect-1-img {
  display: flex;
  justify-content: center;
}
.sect-1-home .container .sect-1-img img {
  padding-top: 44px;
  padding-bottom: 96px;
}

.sect-2-home .container .text-title h2 {
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #9095A0;
}
.sect-2-home .container .item-img-sect-2 img {
  -o-object-fit: contain;
     object-fit: contain;
}

.sect-3-home {
  padding-top: 96px;
  padding-bottom: 96px;
}
.sect-3-home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sect-3-home .container .sect-3-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #9095A0;
  width: 476px;
}
.sect-3-home .container h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  font-family: "Epilogue", sans-serif;
}
.sect-3-home .container .sect-3-link-1 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 112px;
  height: 44px;
  border-radius: 4px;
  padding: 9px 26px 9px 25px;
  font-family: "Inter", sans-serif;
}
.sect-3-home .container .sect-3-link-2 {
  color: #00BDD6;
  width: 118px;
  height: 44px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}
.sect-3-home .container .sect-3-image-1 {
  margin-top: 178px;
}
.sect-3-home .container .sect-3-image-2 {
  margin-bottom: 178px;
}
.sect-3-home .container .sect-3-group-2 {
  margin-right: 220px;
}
.sect-3-home .container .sect-3-group-2 .sect-3-link-group .sect-3-link-2 {
  margin-left: 16px;
}
.sect-3-home .container .sect-3-group-1 {
  margin-right: 220px;
}
.sect-3-home .container .sect-3-group-1 .sect-3-link-group .sect-3-link-2 {
  margin-left: 16px;
}

.sect-4-home {
  background-color: #EBFDFF;
  width: auto;
  overflow: hidden;
}
.sect-4-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect-4-home .container .sect-4-text {
  height: 100%;
  width: 100%;
}
.sect-4-home .container .profile-pic {
  display: flex;
  margin-top: 20px;
  margin-bottom: 96px;
}
.sect-4-home .container .profile-pic img {
  margin-top: 24px;
}
.sect-4-home .container .profile-pic p {
  margin-top: 41px;
  margin-left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.sect-4-home .container .profile-pic span {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.sect-4-home .container .sect-4-img-1 {
  margin-bottom: 49.8px;
}
.sect-4-home .container .sect-4-img-2 {
  margin-right: 96px;
  margin-top: 50px;
  cursor: pointer;
}
.sect-4-home .container .sect-4-img-3 {
  margin-left: 96px;
  margin-top: 50px;
  cursor: pointer;
}
.sect-4-home .sect-4-group {
  display: flex;
}
.sect-4-home .sect-4-group p {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  height: 192px;
}

.sect-5-home .container {
  padding-top: 96px;
}
.sect-5-home .container .profile-pic {
  display: flex;
  flex-direction: row;
}
.sect-5-home .container .sect-5-group-1 {
  background-color: #F8F9FA;
  width: 353px;
  height: 402px;
  border-radius: 4px, 0px, 0px, 4px;
  padding: 24px 74px 24px 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-right: 20px;
}
.sect-5-home .container .sect-5-group-2 {
  background-color: #FFFFFF;
  width: 353px;
  height: 438px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 28px 0 28px 24px;
  white-space: nowrap;
  margin-right: 18px;
}
.sect-5-home .container .sect-5-group-2 .popular {
  margin-left: 86px;
  white-space: nowrap;
}
.sect-5-home .container .button-group {
  margin-bottom: 28px;
}
.sect-5-home .container .button-group h4 {
  font-weight: bold;
  font-size: 48px;
  line-height: 68px;
}
.sect-5-home .container .button-group h4 p {
  margin-bottom: 28px;
}
.sect-5-home .container .sect-5-list {
  display: flex;
}
.sect-5-home .container .sect-5-list .first-item-1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  font-family: "Epilogue", sans-serif;
  color: #171A1F;
}
.sect-5-home .container .sect-5-list .first-item-2 {
  color: #00BDD6;
  font-size: 40px;
  line-height: 56px;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
.sect-5-home .container .sect-5-list .second-item {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
  color: #424955;
  margin-bottom: 16px;
}
.sect-5-home .container .sect-5-list .price {
  font-size: 40px;
  line-height: 56px;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  margin-bottom: 17px;
}
.sect-5-home .container .sect-5-list .user-month {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 22px;
  color: #424955;
}
.sect-5-home .container .sect-5-list .last-item-1 {
  display: block;
  width: 305px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #00BDD6;
  color: #00BDD6;
  padding: 9px 119.5px;
  margin-top: 19px;
  white-space: nowrap;
}
.sect-5-home .container .sect-5-list .last-item-2 {
  display: block;
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 305px;
  height: 44px;
  border-radius: 4px;
  padding: 9px 119.5px;
  margin-top: 39px;
}
.sect-5-home .container .sect-5-list div {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #171A1F;
}

.sect-6-home .container {
  display: flex;
}
.sect-6-home .container .sect-6-txt {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #1D2128;
}
.sect-6-home .container .right-section img {
  width: 588px;
  height: 384px;
}
.sect-6-home .container .left-section {
  width: 588px;
  height: 384px;
  background-color: #00BDD6;
  border-radius: 8px 0 0 8px;
  padding: 80px 115px 80px 64px;
  height: 384px;
  overflow: hidden;
}
.sect-6-home .container .left-section a {
  width: 112px;
  height: 52px;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 12px 24px;
  color: #171A1F;
}
.sect-6-home .container .left-section h5 {
  color: #FFFFFF;
  font-size: 48px;
  font-family: "Epilogue", sans-serif;
  line-height: 68px;
  font-weight: bold;
}

.sect-7-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.sect-7-home .container p {
  margin-bottom: 44px;
}
.sect-7-home .container h6 {
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  line-height: 68px;
  font-size: 48px;
  width: auto;
}
.sect-7-home .container .sect-7-box-container {
  padding-bottom: 96px;
}
.sect-7-home .container .sect-7-box-container button {
  background-color: #00BDD6;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  width: 164px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 90px;
  margin-top: 44px;
}
.sect-7-home .container .sect-7-box-container .first-item {
  color: #00BDD6;
  font-family: "Inter", sans-serif;
  line-height: 26px;
  font-size: 16px;
  margin-top: 24px;
  white-space: nowrap;
}
.sect-7-home .container .sect-7-box-container .second-item {
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 4px;
}
.sect-7-home .container .sect-7-box-container .third-item {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 27px;
  white-space: nowrap;
}
.sect-7-home .container .sect-7-box-container .third-item .time {
  display: inline;
  margin-left: 130px;
  background-color: #F3F4F6;
  width: 83px;
  height: 28px;
  border-radius: 14px;
  padding: 4px 8px;
}
.sect-7-home .container .sect-7-box-container ul {
  list-style: none;
  border: 1px solid transparent;
  width: 376px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #FAFAFB;
}
footer .container section {
  display: flex;
  justify-content: space-between;
}
footer .container section .ft-main-item .ft-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
footer .container section .ft-main-item ul {
  list-style: none;
  cursor: pointer;
  padding-left: 0;
}
footer .container section .ft-main-item ul .li-1 {
  margin-top: 16px;
}
footer .container section .ft-main-item ul li {
  margin-top: 12px;
}
footer .container section .ft-main-item .ft-title-1 {
  color: #00BDD6;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  white-space: nowrap;
}
footer .container section .ft-main-item p {
  color: #424955;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
footer .container section .ft-main-item form input {
  background-color: #eaecef;
  width: 269px;
  height: 35px;
  border-radius: 4px, 0px, 0px, 4px;
  color: #bcc1ca;
  font-size: 14px;
  line-height: 22px;
  border: none;
  padding: 7px 129px 6px 34px;
}
footer .container section .ft-main-item form .input-2 {
  background-color: #00BDD6;
  color: #FFFFFF;
  padding: 7px 23px 7px 24px;
  width: 114px;
  height: 36px;
  border-radius: 0 4px 4px 0;
  border: none;
  position: absolute;
}
footer .container .ft-social {
  display: flex;
  justify-content: space-between;
}
footer .container .ft-social select {
  width: 127px;
  height: 35px;
  border-radius: 4px;
  background-color: #eaecef;
  border: none;
  padding: 7px 13px 6px 12px;
  border: none;
}
footer .container .ft-social .ft-social-list img {
  margin-right: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

.container-1 {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container-1 {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .navbar {
    display: none;
    padding: 14px 24px;
  }
  .navbar .nav-link-1 {
    font-size: 14px;
    line-height: 22px;
  }
  .navbar .nav-link-2 {
    color: #FFFFFF;
    width: 80px;
    height: 36px;
    border-radius: 4px;
    padding: 7px 15px;
    margin-left: 23px;
  }
  .navbar .container-fluid .nav-bar-list ul {
    list-style: none;
    display: flex;
    cursor: pointer;
  }
  .navbar .container-fluid .nav-bar-list ul li {
    margin-left: 24px;
    color: #565E6C;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .sect-1-home {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .sect-1-home .container {
    width: auto;
    display: block;
    white-space: normal;
  }
  .sect-1-home .container h1 {
    width: 100%;
    font-size: 28px;
    text-align: center;
    white-space: wrap;
    line-height: 40px;
  }
  .sect-1-home .container p {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    white-space: wrap;
    text-align: center;
  }
  .sect-1-home .container .sect-1-links {
    width: auto;
    text-align: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .sect-1-home .container .sect-1-links a:nth-child(1) {
    width: auto;
    height: auto;
    background-color: #00BDD6;
    padding: 8px 12px;
    text-align: center;
  }
  .sect-1-home .container .sect-1-links a:nth-child(2) {
    width: auto;
    height: auto;
    color: #00BDD6;
    margin-top: 10px;
    border: 1px solid #00BDD6;
    padding: 8px 12px;
    text-align: center;
  }
  .sect-1-home .container .sect-1-img img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .sect-2-home {
    padding: 30px 0;
  }
  .sect-2-home .container .text-title h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .sect-2-home .container .item-img-sect-2 {
    display: block !important;
    justify-content: center !important;
  }
  .sect-2-home .container .item-img-sect-2 img {
    text-align: center;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 30px;
  }
  .sect-3-home {
    display: none;
    width: auto;
  }
  .sect-3-home .container {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .sect-3-home .container .sect-3-link-group {
    text-align: center;
  }
  .sect-3-home .container .sect-3-group-1 {
    margin-right: 0;
    white-space: wrap;
  }
  .sect-3-home .container .sect-3-group-1 .sect-3-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: auto;
  }
  .sect-3-home .container .sect-3-group-1 h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    font-family: "Epilogue", sans-serif;
    text-align: center;
  }
  .sect-3-home .container .sect-3-link-1 {
    text-align: center;
    background-color: #00BDD6;
    color: #FFFFFF;
    width: 112px;
    height: 44px;
    border-radius: 4px;
    padding: 9px 26px 9px 25px;
    font-family: "Inter", sans-serif;
  }
  .sect-3-home .container .sect-3-link-2 {
    text-align: center;
    color: #00BDD6;
    width: 118px;
    height: 44px;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
  }
  .sect-3-home .container .sect-3-image-1 {
    width: 100%;
  }
  .sect-3-home .container .sect-3-image-2 {
    width: 100%;
    margin-top: 100px;
  }
  .sect-3-home .container .sect-3-group-2 h1 {
    text-align: center;
    font-size: 28px;
  }
  .sect-3-home .container .sect-3-group-2 p {
    text-align: center;
    width: auto;
  }
  .sect-4-home {
    background-color: #EBFDFF;
    width: auto;
  }
  .sect-4-home .container {
    align-items: center;
  }
  .sect-4-home .container .sect-4-text {
    white-space: normal;
  }
  .sect-4-home .container .profile-pic {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .sect-4-home .container .profile-pic p {
    margin-top: 41px;
    margin-left: 16px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
  .sect-4-home .container .profile-pic span {
    font-size: 18px;
  }
  .sect-4-home .container .sect-4-img-1 {
    margin-bottom: 49.8px;
  }
  .sect-4-home .container .sect-4-img-2 {
    margin-right: 96px;
    margin-top: 50px;
    cursor: pointer;
  }
  .sect-4-home .container .sect-4-img-3 {
    margin-left: 96px;
    margin-top: 50px;
    cursor: pointer;
  }
  .sect-4-home .sect-4-group {
    width: auto;
  }
  .sect-4-home .sect-4-group .section-4-paragraph {
    width: auto;
  }
  .sect-4-home .sect-4-group p {
    width: auto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    height: 192px;
  }
  .sect-5-home .container {
    padding-top: 96px;
  }
  .sect-5-home .container .profile-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sect-5-home .container .sect-5-group-1 {
    background-color: #F8F9FA;
    width: 353px;
    height: 402px;
    border-radius: 4px, 0px, 0px, 4px;
    padding: 24px 74px 24px 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .sect-5-home .container .sect-5-group-2 {
    background-color: #FFFFFF;
    width: 353px;
    height: 438px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 28px 0 28px 24px;
    white-space: nowrap;
  }
  .sect-5-home .container .sect-5-group-2 .popular {
    margin-left: 86px;
    white-space: nowrap;
  }
  .sect-5-home .container .button-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    align-items: center;
  }
  .sect-5-home .container .button-group h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 68px;
  }
  .sect-5-home .container .button-group h4 p {
    margin-bottom: 28px;
    font-size: 14px;
  }
  .sect-5-home .container .sect-5-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .sect-5-home .container .sect-5-list div {
    padding-bottom: -40px;
  }
  .sect-5-home .container .sect-5-list .first-item-1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 48px;
    font-family: "Epilogue", sans-serif;
    color: #171A1F;
  }
  .sect-5-home .container .sect-5-list .first-item-2 {
    color: #00BDD6;
    font-size: 28px;
    line-height: 56px;
    font-weight: bold;
    font-family: "Epilogue", sans-serif;
  }
  .sect-5-home .container .sect-5-list .second-item {
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #424955;
    margin-bottom: 16px;
  }
  .sect-5-home .container .sect-5-list .price {
    font-size: 28px;
    line-height: 56px;
    font-family: "Epilogue", sans-serif;
    font-weight: bold;
    margin-bottom: 17px;
  }
  .sect-5-home .container .sect-5-list .user-month {
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 22px;
    color: #424955;
  }
  .sect-5-home .container .sect-5-list .last-item-1 {
    display: block;
    width: 305px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #00BDD6;
    color: #00BDD6;
    padding: 9px 119.5px;
    margin-top: 19px;
    white-space: nowrap;
  }
  .sect-5-home .container .sect-5-list .last-item-2 {
    display: block;
    background-color: #00BDD6;
    color: #FFFFFF;
    width: 305px;
    height: 44px;
    border-radius: 4px;
    padding: 9px 119.5px;
    margin-top: 39px;
  }
  .sect-5-home .container .sect-5-list div {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #171A1F;
  }
  .sect-6-home {
    width: auto;
  }
  .sect-6-home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sect-6-home .container .sect-6-txt {
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #1D2128;
  }
  .sect-6-home .container .right-section {
    width: auto;
  }
  .sect-6-home .container .right-section img {
    display: none;
  }
  .sect-6-home .container .left-section {
    background-color: #00BDD6;
    border-radius: 0 8px 8px 0;
    height: 384px;
    width: auto;
  }
  .sect-6-home .container .left-section a {
    width: 112px;
    height: 52px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 12px 24px;
    color: #171A1F;
  }
  .sect-6-home .container .left-section h5 {
    color: #FFFFFF;
    font-size: 28px;
    font-family: "Epilogue", sans-serif;
    line-height: 68px;
    font-weight: bold;
  }
  .sect-7-home .container {
    padding: 0 20px;
  }
  .sect-7-home .container p {
    margin-bottom: 44px;
  }
  .sect-7-home .container h6 {
    line-height: 68px;
    font-size: 28px;
  }
  .sect-7-home .container .sect-7-box-container .inner-box-container {
    margin-bottom: 30px;
  }
  .sect-7-home .container .sect-7-box-container .inner-box-container .first-item {
    font-size: 18px;
    margin-top: 10px;
  }
  .sect-7-home .container .sect-7-box-container .inner-box-container .second-item {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 10px;
  }
  .sect-7-home .container .sect-7-box-container .inner-box-container .third-item {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 27px;
  }
  .sect-7-home .container .sect-7-box-container .inner-box-container .third-item .time {
    margin-left: 130px;
    width: 83px;
    height: 28px;
    padding: 4px 8px;
  }
  .sect-7-home .container .sect-7-box-container .inner-box-container ul {
    padding: 10px;
    width: auto;
  }
  footer select {
    margin-left: 42%;
    margin-bottom: 10px;
  }
  footer section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */