@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

.navbar {
  padding: 14px 24px 14px 28px;
}
.navbar .nav-link-1 {
  color: #00BDD6;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.navbar .nav-link-2 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  margin-left: 23px;
}
.navbar .container-fluid .nav-bar-list ul {
  list-style: none;
  display: flex;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.navbar .container-fluid .nav-bar-list ul li {
  margin-left: 24px;
  color: #565E6C;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sect-1-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect-1-home .sect-1-links {
  margin-top: 24px;
}
.sect-1-home .sect-1-links .sect-1-link-1 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 200px;
  height: 52px;
  border-radius: 4px;
  padding: 12px 49.5px 12px 49.5px;
}
.sect-1-home .sect-1-links .sect-1-link-2 {
  color: #00BDD6;
  border: 1px solid #00BDD6;
  width: 200px;
  height: 52px;
  padding: 12px 38.5px 12px 38.5px;
  border-radius: 4px;
  margin-left: 20px;
}
.sect-1-home .sect-1-img {
  display: flex;
  justify-content: center;
}
.sect-1-home .sect-1-img img {
  padding-top: 44px;
  padding-bottom: 96px;
}

.sect-2-home .container .row {
  display: flex;
  justify-content: center;
}
.sect-2-home .container .row .box-1 {
  width: 235px;
  height: 140px;
  padding: 50px 16px 50px 16px;
}
.sect-2-home .container .row .box-2 {
  width: 235px;
  height: 140px;
  padding: 30px 41px 30px 41px;
}
.sect-2-home .container .row .box-3 {
  width: 235px;
  height: 140px;
  padding: 30px 28px 29px 29px;
}
.sect-2-home .container .row .box-4 {
  width: 235px;
  height: 140px;
  padding: 31px 42px 31px 42px;
}
.sect-2-home .container .row .box-5 {
  width: 235px;
  height: 140px;
  padding: 50px 24.8px 49.99px 26.95px;
}
.sect-2-home .container .sect-2-text {
  display: flex;
  justify-content: center;
}
.sect-2-home .container .sect-2-text p {
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #9095A0;
  margin-left: 35px;
}

.sect-3-home {
  padding-top: 96px;
  padding-bottom: 96px;
}
.sect-3-home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sect-3-home .container .sect-3-link-1 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 112px;
  height: 44px;
  border-radius: 4px;
  padding: 9px 26px 9px 25px;
  font-family: "Inter", sans-serif;
}
.sect-3-home .container .sect-3-link-2 {
  color: #00BDD6;
  width: 118px;
  height: 44px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}
.sect-3-home .container .sect-3-image-1 {
  margin-top: 178px;
}
.sect-3-home .container .sect-3-image-2 {
  margin-bottom: 178px;
}
.sect-3-home .container .sect-3-group-1 {
  margin-right: 220px;
}

.sect-4-home {
  background-color: #EBFDFF;
  height: 596px;
  overflow: hidden;
}
.sect-4-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect-4-home .container .profile-pic {
  display: flex;
  margin-top: 80px;
}
.sect-4-home .container .profile-pic img {
  margin-top: 24px;
}
.sect-4-home .container .profile-pic p {
  margin-top: 41px;
  margin-left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.sect-4-home .container .sect-4-img-1 {
  margin-bottom: 49.8px;
}
.sect-4-home .container .sect-4-img-2 {
  margin-right: 96px;
  margin-top: 50px;
  cursor: pointer;
}
.sect-4-home .container .sect-4-img-3 {
  margin-left: 96px;
  margin-top: 50px;
  cursor: pointer;
}
.sect-4-home .sect-4-group {
  display: flex;
}
.sect-4-home .sect-4-group p {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  height: 192px;
}

.sect-5-home .container {
  padding-top: 96px;
}
.sect-5-home .container .profile-pic {
  display: flex;
  flex-direction: row;
}
.sect-5-home .container .sect-5-group-1 {
  background-color: #F8F9FA;
  width: 353px;
  height: 402px;
  border-radius: 4px, 0px, 0px, 4px;
  padding: 24px 74px 24px 24px;
}
.sect-5-home .container .sect-5-group-2 {
  background-color: #FFFFFF;
  width: 353px;
  height: 438px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 28px 0 28px 24px;
  white-space: nowrap;
}
.sect-5-home .container .sect-5-group-2 .popular {
  margin-left: 86px;
  white-space: nowrap;
}
.sect-5-home .container .button-group {
  margin-bottom: 28px;
}
.sect-5-home .container .button-group h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 68px;
}
.sect-5-home .container .button-group h2 p {
  margin-bottom: 28px;
}
.sect-5-home .container .sect-5-list {
  display: flex;
  justify-content: space-between;
}
.sect-5-home .container .sect-5-list .first-item-1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  font-family: "Epilogue", sans-serif;
  color: #171A1F;
}
.sect-5-home .container .sect-5-list .first-item-2 {
  color: #00BDD6;
  font-size: 40px;
  line-height: 56px;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
.sect-5-home .container .sect-5-list .second-item {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
  color: #424955;
  margin-bottom: 16px;
}
.sect-5-home .container .sect-5-list .price {
  font-size: 40px;
  line-height: 56px;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  margin-bottom: 17px;
}
.sect-5-home .container .sect-5-list .user-month {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 22px;
  color: #424955;
}
.sect-5-home .container .sect-5-list .last-item-1 {
  display: block;
  width: 305px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #00BDD6;
  color: #00BDD6;
  padding: 9px 119.5px;
  margin-top: 19px;
  white-space: nowrap;
}
.sect-5-home .container .sect-5-list .last-item-2 {
  display: block;
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 305px;
  height: 44px;
  border-radius: 4px;
  padding: 9px 119.5px;
  margin-top: 39px;
}
.sect-5-home .container .sect-5-list div {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #171A1F;
}

.sect-6-home .container {
  display: flex;
}
.sect-6-home .container .sect-6-txt {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #1D2128;
}
.sect-6-home .container .right-section {
  height: 384px;
}
.sect-6-home .container .left-section {
  background-color: #00BDD6;
  border-radius: 8px 0 0 8px;
  padding: 80px 115px 80px 64px;
  height: 384px;
  overflow: hidden;
}
.sect-6-home .container .left-section a {
  width: 112px;
  height: 52px;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 12px 24px;
  color: #171A1F;
}
.sect-6-home .container .left-section h3 {
  color: #FFFFFF;
  font-size: 48px;
  font-family: "Epilogue", sans-serif;
  line-height: 68px;
  font-weight: bold;
}

.sect-7-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect-7-home .container h4 {
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  line-height: 68px;
  font-size: 48px;
}
.sect-7-home .container .sect-7-box-container button {
  background-color: #00BDD6;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  width: 164px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 90px;
  margin-top: 44px;
}
.sect-7-home .container .sect-7-box-container .first-item {
  color: #00BDD6;
  font-family: "Inter", sans-serif;
  line-height: 26px;
  font-size: 16px;
  margin-top: 24px;
  white-space: nowrap;
}
.sect-7-home .container .sect-7-box-container .second-item {
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 4px;
}
.sect-7-home .container .sect-7-box-container .third-item {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 22px;
  margin-top: 15px;
  white-space: nowrap;
}
.sect-7-home .container .sect-7-box-container .third-item .time {
  margin-left: 130px;
  background-color: #F3F4F6;
  width: 83px;
  height: 28px;
  border-radius: 14px;
  padding: 4px 8px;
}
.sect-7-home .container .sect-7-box-container ul {
  list-style: none;
}

.footer {
  padding-top: 96px;
}
.footer .container {
  display: flex;
}
.footer .container .footer-list {
  display: flex;
}
.footer .container .footer-list ul {
  list-style: none;
  margin-right: 102px;
}
.footer .container .footer-list ul li {
  margin-top: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
}
.footer .container .footer-list ul li input {
  height: 35px;
  width: 269px;
  border-radius: 4px, 0px, 0px, 4px;
  padding: 7px 12px 6px 34px;
  border: none;
  background-color: #EAECEF;
}
.footer .container .footer-list ul .first-item {
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.footer .container .footer-list ul .first-item-1 {
  color: #00BDD6;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  white-space: nowrap;
}
.footer .container .footer-list ul .second-item {
  white-space: nowrap;
}
.footer .lower-footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 175.54px;
  padding-left: 132px;
  padding-right: 134px;
  padding-bottom: 17px;
}
.footer .lower-footer-container select {
  width: 127px;
  height: 35px;
  border-radius: 4px;
  background-color: #EAECEF;
  border: none;
}
.footer .input-button {
  position: absolute;
  background-color: #00BDD6;
  color: #FFFFFF;
  padding: 7px 23px 7px 24px;
  width: 114px;
  height: 36px;
  border-radius: 0, 4px, 4px, 0;
}
.footer .input-icon {
  position: absolute;
  left: 68%;
  margin-top: 10px;
}
.footer .footer-logos {
  white-space: nowrap;
  cursor: pointer;
}
.footer .footer-logos img {
  margin-left: 21px;
}/*# sourceMappingURL=main.css.map */