@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Epilogue", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px !important;
    max-width: 1200px !important;
  }
}

section {
  padding-top: 50px;
}

.navbar {
  padding: 14px 24px 14px 28px;
}
.navbar .nav-link-1 {
  color: #00BDD6;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.navbar .nav-link-2 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  margin-left: 23px;
}
.navbar .container-fluid .nav-bar-list ul {
  list-style: none;
  display: flex;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.navbar .container-fluid .nav-bar-list ul li {
  margin-left: 24px;
  color: #565E6C;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sect-1-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect-1-home .sect-1-links {
  margin-top: 24px;
}
.sect-1-home .sect-1-links .sect-1-link-1 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 200px;
  height: 52px;
  border-radius: 4px;
  padding: 12px 49.5px 12px 49.5px;
}
.sect-1-home .sect-1-links .sect-1-link-2 {
  color: #00BDD6;
  border: 1px solid #00BDD6;
  width: 200px;
  height: 52px;
  padding: 12px 38.5px 12px 38.5px;
  border-radius: 4px;
  margin-left: 20px;
}
.sect-1-home .sect-1-img {
  display: flex;
  justify-content: center;
}
.sect-1-home .sect-1-img img {
  padding-top: 44px;
  padding-bottom: 96px;
}

.sect-2-home .container .row {
  display: flex;
  justify-content: center;
}
.sect-2-home .container .row .box-1 {
  width: 235px;
  height: 140px;
  padding: 50px 16px 50px 16px;
}
.sect-2-home .container .row .box-2 {
  width: 235px;
  height: 140px;
  padding: 30px 41px 30px 41px;
}
.sect-2-home .container .row .box-3 {
  width: 235px;
  height: 140px;
  padding: 30px 28px 29px 29px;
}
.sect-2-home .container .row .box-4 {
  width: 235px;
  height: 140px;
  padding: 31px 42px 31px 42px;
}
.sect-2-home .container .row .box-5 {
  width: 235px;
  height: 140px;
  padding: 50px 24.8px 49.99px 26.95px;
}
.sect-2-home .container .sect-2-text {
  display: flex;
  justify-content: center;
}
.sect-2-home .container .sect-2-text p {
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #9095A0;
  margin-left: 35px;
}

.sect-3-home {
  padding-top: 96px;
  padding-bottom: 96px;
}
.sect-3-home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sect-3-home .container .sect-3-link-1 {
  background-color: #00BDD6;
  color: #FFFFFF;
  width: 112px;
  height: 44px;
  border-radius: 4px;
  padding: 9px 26px 9px 25px;
  font-family: "Inter", sans-serif;
}
.sect-3-home .container .sect-3-link-2 {
  color: #00BDD6;
  width: 118px;
  height: 44px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}
.sect-3-home .container .sect-3-image-1 {
  margin-top: 178px;
}
.sect-3-home .container .sect-3-image-2 {
  margin-bottom: 178px;
}
.sect-3-home .container .sect-3-group-1 {
  margin-right: 220px;
}

.sect-4-home {
  background-color: #EBFDFF;
  height: 596px;
}
.sect-4-home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect-4-home .container .sect-4-img-1 {
  margin-top: 97.86;
  margin-bottom: 49.8px;
}
.sect-4-home .container .sect-4-img-2 {
  margin-right: 96px;
  margin-top: 50px;
  cursor: pointer;
}
.sect-4-home .container .sect-4-img-3 {
  margin-left: 96px;
  margin-top: 50px;
  cursor: pointer;
}
.sect-4-home .sect-4-group {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.sect-4-home .sect-4-group p {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.sect-4-home .sect-4-group .sect-4-group-txt {
  margin-top: 41px;
  margin-left: 16px;
  color: #424955;
  font-weight: bold;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.sect-4-home .sect-4-group .sect-4-group-txt .job-title {
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=main.css.map */